#para1
{
	color:red;
	background:yellow;
	height:200px;

}
#para2{
	color:black;
	background-color:aqua;
	text-align:center;
}
h1{
	color:aqua;
}
table
{
	border-top-color:orangered;
	background-color:red;
}
.commonFont
{
	font-feature-settings:"c2cs";
}